:root {
  /* fonts */
  --font-primary: "Inter", serif;
  --font-secondary: "Source Code Pro", serif;
  /* colors */
  --clr-dark: #030712;

  --clr-slate50: #f8fafc; /* slate50 */
  --clr-slate100: #f1f5f9; /* slate100 */
  --clr-light: #e2e8f0; /* slate200 */
  --clr-slate300: #cbd5e1; /* slate300 */
  --clr-text: #94a3b8; /* slate400 */
  --clr-slate800: #1e293b; /* slate800 */
  --clr-bg: #0a101f;
  --clr-muted: #6b7c94;
  /* SHADOWS */
  --shadow-xl: 0 19px 38px rgba(15, 23, 42, 0.3),
    0 15px 12px rgba(15, 23, 42, 0.22);

  /* sizes */
  --sizes-xxs: 0.5rem;
  --sizes-xs: 0.75rem;
  --sizes-sm: 0.875rem;
  --sizes-1rem-base: 1rem;
  --sizes-lg: 1.125rem;
  --sizes-xl: 1.25rem;
  --sizes-2xl: 1.5rem;
  --sizes-3xl: 1.875rem;
  --sizes-4xl: 2.25rem;
  --sizes-5xl: 3rem;
  --sizes-6xl: 3.75rem;
  --sizes-7xl: 4.5rem;
  --sizes-8xl: 6rem;
  --sizes-9xl: 8rem;
  --sizes-10xl: 10rem;
  --size-11x25: 11.25rem;
  /*  SPACING */
  --letter-spacing-005: -0.05em;
  --flow-spacing: 1rem;
  --margin-top-spacing: 1rem;
  --margin-top-0spacing: 0;
  --padding-2rem: 2rem;
  --padding-1rem: 1rem;
  --margin-bottom: 2.5rem;
  --margin-bottom-1rem: 1rem;
  --margin-bottom-1rem-0: 1rem 0;
  --margin-bottom-2rem: 2rem;
  --margin-bottom-3rem: 3rem;
  --margin-top-2rem: 2rem;
  --margin-top-1rem: 1rem;
  --margin-0: 0;
  --gap-1rem: 1rem;
  --gap-6rem: 6rem;
  --gap-large-rem: 2.5rem;
  --margin-left: 0.25rem;
  --margin0x5-0: 0.5rem 0;

  /* LINE HEIGHT */
  --line-height-1: 1;
  --max-width-65: 65ch;
  --max-width-57: 57ch;
  --max-width-60: 60ch;
  /* CENTER */
  --margin-inline-auto: auto;
  --border-radius6x: 6px;
  /* FONTWEIGHT */
  --fontweight700: 700;
}

.size-6 {
  width: var(--sizes-lg);
  height: var(--sizes-lg);
}

.features__icon {
  display: inline-block;
  border: 1px solid rgba(255, 0, 0, 0.278);
  padding: var(--padding-1rem);
  border-radius: 10%;
}

.features__h2 {
  font-size: var(--sizes-2xl);
  line-height: var(--line-height-1);
  text-transform: capitalize;
}

.features__p1 {
  font-family: var(--font-secondary);
  font-size: var(--sizes-sm);
  color: var(--clr-muted);
  /* margin: var(--margin-bottom-1rem-0); */
  margin: var(--margin-bottom-1rem-0);
}

.features__box {
  background-color: var(--clr-bg);
  padding: var(--padding-2rem);
  border-radius: var(--border-radius6x);
  box-shadow: var(--shadow-xl);
  margin-top: var(--margin-top-1rem);
}

.features__box-0margin {
  margin-top: var(--margin-top-0spacing);
}

.features__h3 {
  font-size: var(--sizes-sm);
  margin: var(--margin0x5-0);
}

.features__box-p {
  font-size: sm;
  font-family: var(--font-secondary);
}

/* xs */
@media (min-width: 475px) {
  .features__h2,
  .features__h3 {
    font-size: var(--sizes-1rem-base);
  }

  .size-6 {
    width: var(--sizes-2xl);
    height: var(--sizes-2xl);
  }
}

/* sm */
/* @media(min-width:640px) {


} */

/* md */
@media (min-width: 768px) {
  .features__p1 {
    max-width: var(--max-width-60);
  }
}

/* lg */
@media (min-width: 1024px) {
  .features__box {
    margin: var(--margin-0);
  }
  .features__content2 {
    display: grid;
    gap: var(--gap-1rem);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

/* xl */
@media (min-width: 1280px) {
  .features__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  body {
    padding: 5rem;
  }
  .features__h2 {
    font-size: var(--sizes-4xl);
  }
  .features__p1 {
    font-size: var(--sizes-lg);
    margin-top: var(--margin-top-2rem);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  body {
    padding: 0;
  }

  .features__wrapper {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: space-between;
  }

  .features__content1 {
    min-width: 30rem;
  }
  .features__content2 {
    min-width: 30rem;
  }
}
